*{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14px;
}
  
  body {
      margin-top: 2%;
      text-align: center;
  }

  a, h1, h3 {
      color: aliceblue;
  }
  h1, h3 { margin: 0; 
  }
  h1              { border-bottom: 2px solid #eee; }
  h3              { font-size: 1.2em; }
  
  table.dataframe, .dataframe th, .dataframe td {
      border: none;
      border-bottom: 1px solid #c3e6cb;
      border-collapse: collapse;
      text-align: center;
      padding: 10px;
      margin-bottom: 40px;
      font-size: 0.9em;
      opacity: 90%;
  }

.data th {
    background-color: #b1dfbb;
    color: black;
}

tr:nth-child(odd) {
    background-color: rgba(50, 50, 50, 0.05);
}